<!-- Login -->
<div class="login">
  <div class="container">
    <div class="row">
      <div class="col-md-8 m-auto">
        <h1 class="display-4 text-center">Log In</h1>
        <p class="lead text-center">Sign in to your DevConnector account</p>
        <form (ngSubmit)="loginSubmit()">
          <div class="form-group">
            <input
              type="email"
              [ngClass]="{
                'form-control form-control-lg': true,
                'is-invalid': errorsLogin.email
              }"
              placeholder="Email Address"
              name="email"
              [(ngModel)]="email"
            />
          </div>
          <div class="d-block invalid-feedback">{{ errorsLogin.email }}</div>
          <div class="form-group">
            <input
              type="password"
              [ngClass]="{
                'form-control form-control-lg': true,
                'is-invalid': errorsLogin.password
              }"
              placeholder="Password"
              name="password"
              [(ngModel)]="password"
            />
          </div>
          <div class="d-block invalid-feedback">{{ errorsLogin.password }}</div>
          <input type="submit" class="btn btn-info btn-block mt-4" />
        </form>
      </div>
    </div>
  </div>
</div>
